/* General setup */

* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed';
  font-size: 16px;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  line-height: 20px;
  letter-spacing: 1px;
  word-spacing: normal;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
  line-height: 100px;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #0ba9f8;
  border-bottom: 5px solid #0ba9f8;
}

/* WRITE YOUR CODE BELOW HERE */

/* TEXTS */

/* La primera p despres de un h2 */
h2+p{
  text-indent: 20px;
}
h1{
  font-size: 35px;
}
header{
  text-align: center;
  letter-spacing: 7px;
}

h2{
  font-size: 25px;
}

aside ul{
  line-height: 20px;
}

/* LINKS */
/* Color normal del link */
a:link {
  color: #0084c5;
}

/* Color ja visitat */    
a:visited {
  color: #0ba9f8;
} 

/* Focus amb el tab */
a:focus {
  border-bottom: 1px solid;
  background: #82d0f8;
  text-decoration: none;
  outline: none;
}

/* Rartoli a sobre */
a:hover {
  border-bottom: 1px solid;
  background: #82d0f8;
  text-decoration: none;
}

a:active {
  background: #ee6c4d;
  color: #eea18f;
}

/* link extern */
a[href^="http"] {
  background: url("https://mdn.github.io/learning-area/css/styling-text/typesetting-a-homepage-start/external-link-52.png") no-repeat 100% 0;
  background-size: 10px 10px;
  padding-right: 12px;
}


a[href^="http"]:visited {
  background: url("https://mdn.github.io/learning-area/css/styling-text/typesetting-a-homepage-start/external-link-52.png") no-repeat 100% 0;
  background-size: 10px 10px;
  padding-right: 12px;

  color: #0ba9f8;
}

a[href^="http"]:focus {
  background: url("https://mdn.github.io/learning-area/css/styling-text/typesetting-a-homepage-start/external-link-52.png") no-repeat 100% 0;
  background-size: 10px 10px;
  padding-right: 12px;

  border-bottom: 1px solid;
  background: #82d0f8;
  text-decoration: none;
  outline: none;
}

a[href^="http"]:hover {
  background: url("https://mdn.github.io/learning-area/css/styling-text/typesetting-a-homepage-start/external-link-52.png") no-repeat 100% 0;
  background-size: 10px 10px;
  padding-right: 12px;

  border-bottom: 1px solid;
  background: #82d0f8;
  text-decoration: none;
}

a[href^="http"]:active {
  background: url("https://mdn.github.io/learning-area/css/styling-text/typesetting-a-homepage-start/external-link-52.png") no-repeat 100% 0;
  background-size: 10px 10px;
  padding-right: 12px;

  background: #ee6c4d;
  color: #eea18f;
} 

/* Lists */
nav ul li{
  list-style: none;
  text-decoration: none;
  text-align: center;
  background-color: #cbe7f5;

}
/* nav ul{
  
} */
nav a{
  outline: auto;
  outline-color:#82d0f8;
  outline-width: medium;
  text-decoration: none;
}

/* GRAELLA */

div{
  background-color: #cbe7f5;
  /* height: 100px; */
}
.wrapper{
  background-color:#ee6c4d;
  display: grid;
  grid-template-columns:2fr 3fr;
  gap: 50px;
}